<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <!--IDAO->DA0-->
      <container name="containerOne">

      </container>
      <!--IBLL->BLL -->
      <container name="containerTwo">
        <register type="IBLL.ICompensationBLL,IBLL" mapTo="BLL.CompensationBLL,BLL" name="CompensationBLL"></register>
        <register type="IBLL.ICompensation_issueBLL,IBLL" mapTo="BLL.Compensation_issueBLL,BLL" name="Compensation_issueBLL"></register>
        <register type="IBLL.ISJKBBLL,IBLL" mapTo="BLL.SJKBBLL,BLL" name="SJKBBLL"></register>
        <register type="IBLL.ISJKLBLL,IBLL" mapTo="BLL.SJKLBLL,BLL" name="SJKLBLL"></register>
      </container>
    </containers>
  </unity>
</configuration>